.tableProductsContainer {
    margin: 2rem 0;
    border-radius: 5px;
    padding: .5rem;
}

.tableProducts2 {

    width: 100%;
    border-collapse: collapse;

    p {
        margin: .2rem 0;
    }

    td,
    th {
        padding: .5rem;
        border-bottom: 1px solid var(--gris-intermedio);
        font-weight: 450;
        text-align: start;
    }

    thead {
        color: var(--gris);
    }
}

th.thEditProduct,
td.tdEditProduct {
    text-align: center;
}

.buttonPage {
    cursor: pointer;
    background-color: var(--gris-claro);
    padding: .3rem;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gris-intermedio);
    transition: all .1s ease-in-out;
}

.buttonPage:hover {
    border: 1px solid var(--gris);
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}

.buttonEditProduct {
    border-radius: 5px;
    padding: .2rem;
    cursor: pointer;
    background-color: white;
    border: none;
}

.buttonEditProduct:hover {
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}


.divInput {
    display: flex;
    margin-top: 1rem;
    align-items: center;

    p {
        margin-right: .5rem;
    }

    input {
        border-radius: 5px;
        border: 1px solid var(--gris);
        padding: .3rem;
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .divProductsContainer {
        height: 93vh;
    }
}

@media screen and (max-width: 750px) {
    .divInput {
        input {
            width: 100%;
        }
    }

    .tableProducts2 {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 520px) {
    .tableProducts2 {

        td,
        th {
            padding: .2rem;
            font-size: .8rem;
        }
    }
}