.titleMain {
    margin-bottom: 1rem;
}

.divHistorySalesContainer {
    width: 100%;
}

.divSaleContainer {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;

    h2 {
        font-weight: 400;
        margin-bottom: .5rem;
    }

    ul {
        margin-left: 1rem;

        li {
            margin-bottom: .5rem;
        }
    }

    span {
        margin-left: .2rem;
        font-weight: bold;
    }
}

.buttonFilter {
    margin-right: 1rem;
    padding: .5rem;
}

.divButtonPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPage {
    padding: .3rem;
    margin: 0 .5rem;
}