.titleMain {
    margin-bottom: 1rem;
}

.divHistorySalesContainer {
    margin: 1.5rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.divSaleContainer {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);

    h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }

    ul {
        margin-left: 1rem;

        li {
            margin-bottom: .5rem;
        }
    }

    span {
        margin-left: .2rem;
        font-weight: 500;
    }
}

.buttonFilter {
    cursor: pointer;
    background-color: var(--gris-claro);
    padding: .5rem;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gris-intermedio);
    transition: all .1s ease-in-out;
    margin-right: 1rem;
}

.buttonFilter:hover {
    border: 1px solid var(--gris);
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}

.divButtonPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPage {
    padding: .3rem;
    margin: 0 .5rem;
}


@media screen and (max-width: 1200px) {

    .divSaleContainer {
        padding: .5rem;
    }

    .divHistorySalesContainer {
        margin: 1rem 0;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .divHistorialContainer {
        height: 93vh;
    }
}

@media screen and (max-width: 520px) {
    .divSaleContainer {
        h2 {
            font-size: 1.2rem;
        }
    }

    .buttonFilter {
        padding: .3rem;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 300px) {
    .buttonFilter {
        padding: .2rem;
        margin-right: .3rem;
    }
}