.titleMain {
    margin-bottom: 1rem;
}

.divHistorySalesContainer {
    width: 100%;
}

.divSaleContainer {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;

    h2 {
        font-weight: 400;
        margin-bottom: .5rem;
    }

    ul {
        margin-left: 1rem;

        li {
            margin-bottom: .5rem;
        }
    }

    span {
        margin-left: .2rem;
        font-weight: bold;
    }
}

.buttonFilter {
    margin-right: 1rem;
    padding: .5rem;
}

.divButtonPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPage {
    padding: .3rem;
    margin: 0 .5rem;
}


@media screen and (max-width: 1200px) {
    .divHistorialContainer {
        height: 93vh;
    }
}

@media screen and (max-width: 520px) {
    .divSaleContainer {
        h2 {
            font-size: 1.2rem;
        }
    }

    .buttonFilter {
        padding: .3rem;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 300px) {
    .buttonFilter {
        padding: .2rem;
        margin-right: .3rem;
    }
}