.sidebar {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
}

.app-name {
    font-size: 1.5rem;
    margin: 2rem;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 1.5rem;
}

.sidebar nav ul li:hover {
    background-color: #ADB5BD;
    transition: .2s ease-in-out;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.aplicarFondo {
    background-color: #ADB5BD;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {

        border-right: none;
        border-bottom: 1px solid black;

        .app-name {
            display: none;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        nav ul li {
            padding: 1rem;
        }
    }
}