.mainDivVender {
    display: flex;
    gap: 2rem;
    height: 90vh;
}

.barcode-table {
    width: 65%;
}

.barcodeInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.buttonSearch {
    cursor: pointer;
    background-color: var(--gris-claro);
    padding: .3rem;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gris-intermedio);
    transition: all .1s ease-in-out;
}

.buttonSearch:hover {
    border: 1px solid var(--gris);
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}

.inputBarcode {
    border-radius: 5px;
    border: 1px solid var(--gris);
    padding: .2rem;
    margin: 0 .8rem;
    flex: 1;
}

.tableContainer {
    margin-top: 2rem;
    height: 90%;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 1);
    padding: .5rem;
}

.tableProducts {
    width: 100%;
    border-collapse: collapse;

    p {
        margin: .2rem 0;
    }

    td,
    th {
        padding: .5rem;
        border-bottom: 1px solid var(--gris-intermedio);
        font-weight: 450;
        text-align: start;
    }

    thead {
        color: var(--gris);
    }
}

.totalpriceContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totalPrice {

    width: 100%;

    h1 {
        font-weight: 600;
    }

    .priceContainer {
        box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 1);
        border-radius: 5px;
        background-color: var(--gris-claro);
        padding: 1.5rem;
        margin-top: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.addPriceContainer {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 1);
}

.formInputAddPrice {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    span {
        font-weight: bold;
        margin-right: .5rem;
    }

    button {
        width: 100%;
        margin-top: 1rem;
    }
}

.inputAddPriceContainer {
    display: flex;
    align-items: center;
}

.buttonFinishBuy {
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--gris-claro);
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gris-intermedio);
    transition: all .1s ease-in-out;
}

.buttonFinishBuy:hover {
    border: 1px solid var(--gris);
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}

.buttonAdd {
    cursor: pointer;
    background-color: var(--gris-claro);
    border: none;
    border-radius: 5px;
    border: 1px solid var(--gris-intermedio);
    transition: all .1s ease-in-out;
    padding: .5rem;
}

.buttonAdd:hover {
    border: 1px solid var(--gris);
    box-shadow: 0px 0px 5px 0px rgba(112, 121, 140, 0.5);
}

.inputAddPrice {
    border-radius: 5px;
    border: 1px solid var(--gris);
    padding: .2rem 0;
}

.deleteProductChar {
    cursor: pointer;
    text-align: center;
}

.divWithShadow {
    width: 100%;
    box-shadow: 0px -10px 7px -5px rgba(0, 0, 0, 0.75);
    height: 20px;
    background-color: #E9ECEF;
}

@media screen and (max-width: 1200px) {
    .mainDivVender {
        flex-direction: column;
    }

    .barcode-table {
        width: 100%;
    }

    .totalpriceContainer {
        width: 100%;
        margin-left: 0;
    }

    .totalPrice {
        margin-bottom: 0;

        .priceContainer {
            margin: .5rem 0;
            padding: 1rem;

            h2 {
                font-size: 1.2rem;
            }
        }
    }

    .tableContainer {
        margin-top: 1rem;
        height: 30rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .buttonFinishBuy {
        margin: 2rem 0;
        padding: 1rem;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 1rem;
    }

    .barcodeInputContainer {
        align-items: center;
    }

    .inputBarcode {
        margin: 0 .5rem;
        width: 8rem;
    }

    .tableContainer {
        padding: 0;
    }

    .tableProducts {

        td,
        th {
            padding: .2rem;
            font-size: .8rem;
        }
    }
}